/*---------------------------------
    footer
    ----------------------*/
footer.footer {
  padding: 1rem 0.875rem;
  direction: ltr;
  background: #fff;
}
footer.footer ul {
  margin: 0px;
  list-style: none;
}
.footer ul li {
  display: inline-block;
  margin: 0px 7px;
}
.text-muted {
  color: #6c757d !important;
  font-size: 14px;
}
